{% extends "admin/change_form.html" %}
{% block field_sets %}
	<p><b>ПІБ:</b> {{ client }}</p>
	<p><b>Номер телефону:</b> {{ phone_number }}</p>
	<p><b>Марка авто та номерний знак:</b> {{ car }}</p>
	<p><b>Дата контракту:</b> {{ date }}</p>
	<p><b>Строк контракту, в днях:</b> {{ period_days }}</p>
	<p><b>ПІБ інвестора:</b> {{ investor_full_name }}</p>
	<p><b>Сума інвестиції:</b> {{ initial_cost_car_usd }}</p>
	<p><b>Планова сума платежу в доларах (тижнева):</b> {{ amount_payment_usd }}</p>
	<p><b>Сума планових платежів:</b> {{ planned_amount_payment_usd }}</p>
	<p><b>Оплачена сума, фактично:</b> {{ amount_paid_usd }}</p>
	<p><b>Різниця:</b> {{ payments_difference }}</p>
	<p><b>Оплачено ТО:</b> {{ paid_for_to }}</p>
	<p><b>Взято на ТО:</b> {{ taken_for_to }}</p>
	<p><b>Різниця (ТО):</b> {{ payments_difference_to }}</p>
	<!-- <p><b>Поточний кілометраж:</b> {{ var }}</p> -->
	<!-- <p><b>Пробіг з моменту заключення контракту:</b> {{ var }}</p> -->

{% endblock %}



{% block object-tools %}
  <form action="" method="get">
    {% csrf_token %}
    <input type="submit" value="Експорт в .xls" />
  </form>
    {{ block.super }}
{% endblock %}