{% extends "admin/change_form.html" %}

{% block field_sets %}

	<p><b>ПІБ:</b> {{ client }}</p>	
	<p><b>Номер телефону:</b> {{ var }}</p>
	<p><b>Марка авто та номерний знак:</b> {{ car }}</p>
	<p><b>Дата контракту:</b> {{ date }}</p>
	<p><b>Строк контракту, в днях:</b> {{ period_days }}</p>
	<p><b>ПІБ інвестора:</b> {{ investor_full_name }}</p>
	<p><b>Сума інвестиції (Вартість автомобіля в гривні, на момент складання контракту):</b> {{ initial_cost_car_usd }}</p>
	<p><b>Планова сума платежу в доларах (тижнева):</b> {{ amount_payment_usd }}</p>
	<p><b>Сума планових платежів:</b> {{ var }}</p>
	<p><b>Оплачена сума, фактично:</b> {{ var }}</p>
	<p><b>Різниця:</b> {{ var }}</p>
	<p><b>Оплачено ТО:</b> {{ var }}</p>
	<p><b>Взято на ТО:</b> {{ var }}</p>
	<p><b>Різниця (ТО):</b> {{ var }}</p>
	<p><b>Поточний кілометраж:</b> {{ var }}</p>
	<p><b>Пробіг з моменту заключення контракту:</b> {{ var }}</p>

{% endblock %}



{% block object-tools %}

  <form action="" method="get">
  
    {% csrf_token %}
    <input type="submit" value="Експорт в .xls" />
  </form>
    {{ block.super }}
{% endblock %}