{% extends 'admin/change_list.html' %}


{% block result_list %} 
{{ block.super }}
	
	<p>Оплачено ТО за період, сума: {{ paid_for_the_period_total }}</p> 
	<p>Взято на ТО за період, сума: {{ taken_for_the_period_total }}</p> 
	<p>Різниця, сума: {{ payments_difference_total }}</p>	
	<form action="" method="post"> 	<!-- http://localhost:8000/admin/cars_rental/clientcontractweeklycartoreportkyiv/ -->
	  <input type="date" name="start_date" value={{ start_date }}>
	  <input type="date" name="end_date" value={{ end_date }}>
	  <input type="submit" value="Розрахувати">
	</form>
{% endblock %}





